.header{
    display: flex;
    background-color: #4682B4;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.header .logo{
    max-height: 32px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5px;
}

.title-group{
    margin: 30px;
}

.material-icons{
    margin: 4px;
}